/* Global Styles */
body {
    margin: 0;
    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    line-height: 1.6;
    color: #333;
    background-color: #2e4d25;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #2e4d25;
    color: white;
    border-bottom: 2px solid #7ab575;
}

header .logo {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

header .logo, h1, h2, h3 {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease-in;
}

nav a:hover {
    border-bottom: 1px solid #7ab575;
}

main {
  width: 100%;
  background-color: white;
}

.hero {
    background: url('img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

.hero h1 {
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1rem;  
}

.hero p {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1rem;
    width: fit-content;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #7ab575;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    min-width: 120px;
    margin: 0.5rem;
}

.btn:hover {
    background: #3C5D39;
}

section {
    padding: 60px 20px;
    margin: auto;
}

section:not(.hero) {
    max-width: 1100px;
}

.services .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.service-card {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.about, .contact, .services {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #2e4d25;
    color: white;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
}